@model ChillZone.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<div>
    @Html.Partial("_CategoriesPartial")
</div>
<h1>Latest Posts</h1>

@foreach (var post in Model.Posts)
{
    <div class="row">
        <div class="col-lg-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="Post/@post.Id">@post.Title</a></h3>
                </div>
                <div class="panel-body">
                    @if (post.IsVideo == false)
                {
                        <a href="Post/@post.Id"><img src="@post.SharedUrl" width="300" class="img-responsive" /></a>
                        <br />
                    }
                    else
                    {
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="@post.SharedUrl"></iframe>
                        </div>
                                              
                    }
                    <br />

                </div>
                <ul class="list-group">
                    <li class="list-group-item"><b>Points:</b> @post.Points.Sum(x => x.Value)</li>
                    <li class="list-group-item"><b>Created by:</b>@post.Author.UserName</li>
                    <li class="list-group-item"><b>Category :</b><a href="Category/@post.Category">@post.Category</a></li>
                    <li class="list-group-item"><b>Created on:</b>@post.CreatedOn</li>
                </ul>

                <br />
            </div>
        </div>
    </div>

}
<h2>Categories</h2>
<div class="row">
    @foreach (var category in Model.Categories)
            {
        <div class="col-md-2">
            <a href="Category/@category.Name" class="btn btn-info"> @category.Name</a>
        </div>
    }
</div>
<style>
    div[data-action="up"], div[data-action="down"] {
        cursor: pointer;
    }
</style>

