@model ChillZone.Web.ViewModels.Home.PostViewModel
@{
    ViewBag.Title = "ById";
}

<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Title</h3>
            </div>
            <div class="panel-body">
                @if (Model.IsVideo == false)
                {
                    
                        <a href="@Model.SharedUrl"><img src="~/Content/Image/loading-x.gif" class="img-responsive" id="myimg" /></a>
                    <br />
                }
                else
                {
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="@Model.SharedUrl"></iframe>

                    </div>
                    <br />

                    }
                    @using (Html.BeginForm("Like", "Posts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                        @Html.HiddenFor(m => m.Id)
                        <input type="submit" class="btn btn-success" data-action="up" value="Like" />

                    }
                    <br />
                    @using (Html.BeginForm("Dislike", "Posts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                        @Html.HiddenFor(m => m.Id)
                        <input type="submit" class="btn btn-danger" data-action="down" value="Dislike" />

                    }
                    <br />
                    @if (User.IsInRole("Administrator"))
                    {
                        using (Html.BeginForm("Delete", "Posts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.HiddenFor(m => m.Id)
                            <input type="submit" class="btn btn-danger" data-action="down" value="DELETE" />
                        }
                    }
                    <ul class="list-group">
                        <li class="list-group-item"><b> Points : </b>@Model.Points.Sum(x => x.Value)</li>
                        <li class="list-group-item"><b>Created by : </b>@Model.Author.UserName</li>
                        <li class="list-group-item"><b>Category : </b><a href="/Category/@Model.Category">@Model.Category</a></li>
                        <li class="list-group-item"><b>Created on : </b>@Model.CreatedOn</li>
                    </ul>


                    @using (Html.BeginForm("Comment", "Posts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Create a new Comment.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewComment.Content, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.NewComment.Content, new { @class = "form-control" })
                                @Html.HiddenFor(m => m.Id)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Comment" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        @foreach (var comment in Model.Comments)
        {
            <ul class="list-group">
                <li class="list-group-item">
                    <b>
                        @comment.Author.UserName
                    said:
                </b>
            </li>
            <li class="list-group-item">@comment.Content</li>
        </ul>
        }
    </div>
@section Scripts{
    <script>
        $(function () {
            $('#myimg').load(function () {
                $(this).unbind('load');
                this.src = '@Model.SharedUrl';
            });
        });
    </script>
    
    }