@model ChillZone.Web.ViewModels.Home.PostCategoryViewModel
@{
    ViewBag.Title = "Category";
}
<div>
    @foreach (var post in Model.Posts)
    {
        <div class="span10">
            <div><h3><a href="/Post/@Model.Id">@post.Title</a></h3></div>
            @if (post.IsVideo == false)
            {
                <div>
                    <a href="/Post/@post.Id">
                        <img src="@post.SharedUrl" />
                    </a>

                </div>
                <br />
            }
            else
            {
                <iframe width="560"
                        height="315"
                        src="@post.SharedUrl"
                        frameborder="0"
                        allowfullscreen></iframe>
                        <br />


            }
            <div class="col-md-1">
                <div class="well text-center ">

                    <div class="row"> @post.Points.Sum(x => x.Value) </div>

                </div>
            </div>
            <div><b>Created by:</b>@post.Author.UserName</div>
            <br />
            <div><b>Created on:</b>@post.CreatedOn</div>
        </div>















    }
</div>