@model ChillZone.Web.ViewModels.Home.PostCategoryViewModel
@{
    ViewBag.Title = "Category";
}

@foreach (var post in Model.Posts)
{
    <div class="row">
        <div class="col-lg-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/Post/@Model.Id">@post.Title</a></h3>
                </div>
                <div class="panel-body">
                    @if (post.IsVideo == false)
                    {
                        
                        <a href="/Post/@post.Id">
                            <img src="~/Content/Image/loading-x.gif" class="img-responsive" onload="this.onload = null; this.src = '@post.SharedUrl';" />
                        </a>
                        <br />
                    }
                    else
                    {
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="@post.SharedUrl"></iframe>
                        </div>  <br />
                    }
                </div><ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item">Points : @post.Points.Sum(x => x.Value)</li>
                    <li class="list-group-item"><b>Created by : </b>@post.Author.UserName</li>
                    <li class="list-group-item"><b>Created on : </b>@post.CreatedOn</li>
                          <li class="list-group-item"><b>Comments : </b>@post.Comments.Count()</li>

                </ul>
            </div>
        </div>
    </div>

}
